
/* Styling the about section container: */
#about
{
    color: white;
    background-color: rgb(1, 15, 31) ;
    border-radius: 1rem; /* rounded border */
    padding-bottom: 1%;
}

/* Styling the about heading: 2*/
#aboutTitle
{
    font-size: 24px;
    padding-top: 1%;
    padding-left: 2%;
    text-decoration: underline;
}

#aboutText
{
    padding-left: 2%;
    padding-right: 4%;
}

/* Styling the Contact Info section: */
#contactInfoTitle
{
    text-decoration: underline;
}

.ContactInfo
{
    padding-top: 7px;
    padding-left: 2%;
}

.ContactTopic
{
    font-size: 16px;
    font-weight: bold;
}

.ContactPoint
{
    color: rgb(123, 224, 255);
}

/* Styling the project section container:*/
#project
{
    text-align: center;
    color: white;
    background-color: rgb(1, 15, 31) ;
    border-radius: 1rem;
    padding-bottom: 2%;
}

/* Styling the project grid, a container that holds all the project items: */
#projectGrid
{
    /* turns the container into a flex container, flex-wrap controls whether the flex container is single-line or multi-line*/
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    padding-left: 1%;
    padding-right: 1%;
}

/* Styling the project item itself: */
.ProjectItem
{
    background-color: rgb(2, 18, 37);
    /* Seperating each item visually from each other*/
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    /* padding the project item out */
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    border-radius: 1rem;
}

/* Styling the project heading: 2*/
#projectTitle
{
    font-size: 24px;
    padding-top: 1%;
    text-align: center;
    text-decoration: underline;
}

/* Styling the project item images: */
.ProjectImg
{
    display: block; /*Removes unwanted space below image*/
    justify-self: center; /* centers the image */
    /* adjusts the size of the image */
    padding: 0.7%;
    max-width: 100%;
    height: auto;
    border-radius: 1rem; /* makes the image corners curved */
}

/* Styling for what changes when the user hovers over each project Item: */
.ProjectItem:hover
{
    outline-color: white;
    outline-style: solid;
    background-color: rgb(3, 24, 49);
    cursor: pointer; /* Turns the user's cursor into a pointer */
}

/* Styling the banner found on the final year project image: */
#additionalInfo
{
    color: black;
    font-weight: bold;
    position: relative; /* Maintains its position relative to the webpage */
    text-align: center;
    bottom: 91px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: yellow;
    /* Curves only the bottom corners of the banner giving the illusion its part of the image: */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* Styling for what changes when the use hovers over the banner: */
.ProjectItem:hover #additionalInfo
{
    background-color: white;
}
