
/* Styling the about section: (this is a <div>)*/
#about
{
    color: white;
    background-color: rgb(1, 15, 31) ;
    border-radius: 1rem;
    padding-bottom: 7%;
}

/* Styling the about heading: 2*/
#aboutTitle
{
    padding-top: 1%;
    padding-left: 2%;
    text-decoration: underline;
}

#aboutText
{
    padding-left: 2%;
}

/* Styling the project section: (this is a <div>)*/
#project
{
    text-align: center;
    color: white;
    background-color: rgb(1, 15, 31) ;
    border-radius: 1rem;
    padding-bottom: 2%;
}

#projectGrid
{
    /* turns the container into a flex container, flex-wrap controls whether the flex container is single-line or multi-line*/
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    padding-left: 1%;
    padding-right: 1%;
}


.projectItem
{
    background-color: rgb(2, 18, 37);
    /* Seperating each item visually from each other*/
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    /* padding the project item out */
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    border-radius: 1rem;
}

/* Styling the project heading: 2*/
#projectTitle
{
    padding-top: 1%;
    text-align: center;
    text-decoration: underline;
}

.projectName
{
}

.projectImg
{
    display: block; /*Removes unwanted space below image*/
    justify-self: center; /* centers the image */
    /* adjusts the size of the image */
    padding: 0.7%;
    max-width: 100%;
    height: auto;
    border-radius: 1rem; /* makes the image corners curved */
}

.projectItem:hover
{
    outline-color: white;
    outline-style: solid;
    background-color: rgb(3, 24, 49);
    cursor: pointer;
}