/*This is the unifed styling for each webpage.*/

/* Changing the webpage background colour and selecting a font family: */
body
{
    background-color: rgb(0, 20, 43);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

/* Styling the collective content on the page */
.contentBlock
{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

/* Webpage header section styling: */
#header
{
    text-align: center;
    background-color: rgb(0, 27, 58);
    padding-top: 10px;
    height: 130px;
}

/* WebPage Heading, changing its colour and alignment: */
h1
{
    top: 0px;
    color: white;
}

/* The container that contains the menu tabs */
#menuNav
{
    /* turns the container into a flex container, flex-wrap controls whether the flex container is single-line or multi-line*/
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
}

/* Styling the menuTabs: */
.menuTab
{
    font-size: 3px; /* Height*/
    padding-left: 95%; /* width*/
    /*colour and border styke*/
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

/* Styling the menuLabels */
.menuLabel
{
    /* speration distance */
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
}