/*This is the unifed styling for each webpage.*/
/*Importing fonts:*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Changing the webpage background colour and selecting a font family: */
body
{
    background-color: rgb(0, 20, 43);
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

/* forcing images to scale with the browser window */
img
{
    max-width: 100%;
    height: auto;
}

video
{
    max-width: 100%;
    height: auto;
}

/* Styling the collective content on the page */
.contentBlock
{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

/* Webpage header section styling: */
#header
{
    text-align: center;
    background-color: rgb(0, 27, 58);
    padding-top: 10px;
    padding-bottom: 18px;
    height: auto;
}

/* WebPage Heading, changing its colour and alignment: */
#heading
{
    font-size: 42px;
    font-style: normal;
    color: white;
}
.titles
{
    /* Assigning a different font: */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    /*----------------------------*/
    font-style: normal;
    color: white;
}

/* The container that contains the menu tabs */
#menuNav
{
    /* turns the container into a flex container, flex-wrap controls whether the flex container is single-line or multi-line*/
    padding-top: 12px;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
}

/* Styling the menuTabs: */
.menuTab
{
    font-size: 3px; /* Height*/
    padding-left: 95%; /* width*/
    /*colour and border style*/
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

/* Styling the menuLabels */
.menuLabel
{
    /* speration distance */
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Project Drop down menu */
/* styling drop down content*/
.dropdown
{
    position: fixed;
    justify-self: center;
    padding-left: 3.5%;
    z-index: 999;
    display: none;
}

/* styling all of the <a>'s in dropdown: */
.dropdown a
{
    display: block; /* displays as block on seperate lines rather than all over the place on one line */
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: rgb(2, 18, 37);
    /* adding border to thicken the background */
    border-style: solid;
    border-width: 5px;
    border-color: rgb(2, 18, 37);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    /* text styling */
    text-decoration: none;
    color: white;
}

.dropdown a:hover
{
    background-color: rgb(3, 24, 49);
    border-color: rgb(3, 24, 49);
    color: rgb(123, 224, 255);
}

/* Webpage footer section styling: */
#footer
{
    text-align: center;
    background-color: rgb(0, 27, 58);
    height: 130px;
    margin-top: 23px;
}