/* Changing the webpage background colour and selecting a font family*/
body
{
    background-color: rgb(0, 27, 58);
    font-family: Arial, Helvetica, sans-serif;
}

/* WebPage Heading, changing its colour and alignment*/
h1
{
    color: white;
    text-align: center;
}

/* Menu Elements*/
/* Menu Elements Contaienr */
#menu
{
    width: 20%;
    top: 10%;
}

/* Individual Menu Elements class */
.menuElement
{
    text-align: center;
    background-color: rgb(0, 35, 75);
    position: absolute;
    padding: 10px;
    width: 10%;
}

.menuElement:hover
{
    background-color: rgb(2, 52, 110);
}

#menuElement1
{
    left: 38%;
}

#menuElement2
{
    right: 38%;
}