/* Global Project stylesheet, all project utilise this stylesheet: */
/* Styling the project section contaienr:*/
#project
{
    color: white;
    background-color: rgb(1, 15, 31) ;
    border-radius: 1rem;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    margin-top: 1%;
    text-align: center;
}

/* Styling the project heading: */
#projectTitle
{
    text-align: center;
    padding-top: 1%;
    text-decoration: underline;
    font-size: 34px;
}

/* Styling the grade being displayed:*/
#grade
{
    text-align: center;
    font-size: 12px;
}

/* Styling the project details text: */
.ProjectDetails
{
    /* aligning it to the left: */
    text-align: left;
    padding-left: 4%;
    line-height: 25px;
}

.ProjectDetailTopic
{
    font-weight: bold;
}

/* Styling the seperation line between the project details and project overview texts: */
hr
{
    width: 93%;
    height: 3px;
    background-color: white;
    border-radius: 1rem;
}

.ProjectText
{
    padding-left: 4%;
    padding-right: 4%;
}

/* Styling the video to the center */
.ProjectVideo
{
    display: block;
    margin: 0 auto;
}

#projectOverview
{
    text-align: left;
}